<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303205469466-jl9283om87uvh7k97mhi85ahqka7esff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303205469466-jl9283om87uvh7k97mhi85ahqka7esff</string>
	<key>API_KEY</key>
	<string>AIzaSyB8KkT19ttXaIqLD8bzgHYmB8v3-8yH65c</string>
	<key>GCM_SENDER_ID</key>
	<string>303205469466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lecture29firebaseproject1</string>
	<key>PROJECT_ID</key>
	<string>warisha-d2a66</string>
	<key>STORAGE_BUCKET</key>
	<string>warisha-d2a66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303205469466:ios:665fcbda2426afdf8b70a3</string>
</dict>
</plist>